html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

body {

    background-size: 100%;
    background-color: black;
    background-repeat: no-repeat;
    

   }
#poo{

}
.center {

    background-size: 100%;
   
    background-repeat: no-repeat;
    color: white;
    font-size: 50px;
    text-align: right;
}   

.cool {color: rgb(13, 14, 14);
    font-size: 70px;
    text-align: right;

}

.cool1 {
    color: rgb(10, 11, 11);
    font-size: 40px;
    text-align: right;

}
.cool6{
    color: #fff;
    margin-right: 2;
    float: right;


}

.cool5 {
    
    color: #0a0a0a;
    padding-right: 150px;
   
    margin-top: 1px;
    float: right;
    font-size: 30px;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
    border: solid wheat;
    background-color: rgb(186, 141, 73);
}

.btn:hover{
    letter-spacing: .2rem;
}

h1{
    color: #fff;
    text-align: center;
    font-size: 50px;
}

.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.monika{
    color: #fff;
    text-align: center;
    font-size: 50px;
}

.box-container .box{
    padding:5rem;
    text-align: center;
    border:var(--border);  
}

/* Add padding to containers */
.container {
    padding: 16px;
    background-color: white;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit button */
  .registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }
.box-container .box img{
    height: 15rem;
}

.box-container .box h3{
    color: #1759e6;
    font-size: 2rem;
    padding:1rem 0;
}

.box-container .box .price{
    color: #19c541;
    font-size: 2.5rem;
    padding:.5rem 0;
}

.menu .box-container .box .price span{
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.box-container .box:hover{
    background:#5299d3 !important;
}

.box-container .box:hover > *{
    color:var(--black) !important;
}


.column {
    box-sizing: border-box !important;
}

.column {
    float: left !important;
    width: 33.33% !important;
    padding: 5px !important;

}

.row::after{
    content: "" !important;
    display: table !important;
}

.column img {
    display: block !important;
    width: 100% !important;
    border-radius: 5px !important;
}



.SHIVANI{
	color: rgb(15, 14, 14);
    float: right;
    padding-right: 300PX;
    font-size: 30PX;
}

.sheetal{
    color: white;
    float: right;
    display: flex;
  
    font-size: 30PX;
}

h4 {
    color: #fff;
    font-size: 20px;
}

a:hover{
    color: red;
    background-color: aqua;
    text-decoration: double;
}
a{
    color:#fff;
    font-size: 20px;
    overflow: hidden;

}
.header,ul{
    display: flex;
    list-style-type: none;
    max-height: 20px;
    align-items: center;
}
li{
    padding: 20px;
}

H6 {
    color: #fff;
    text-align: right;
    font-size: 20PX;
    padding-top: -50px;
}

.ram {
    color: #fff;
    font-size: 25px;
}

.sudhir {
    width: 100px;
    height: 100px;
   
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s;
  }
  
 
